body {
    overflow: auto;
}

.canvas {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 90%;
    height: auto;
    margin-top: 3rem;
    margin-left: 0.8rem;
}

.intro {
    width: 100%;
}

.intro-title {
    color: hsl(234, 12%, 34%);
    font-family: "Poppins";
    font-weight: 200;
    font-size: 1.6rem;
    margin-left: 1rem;
    line-height: 2.5rem;
}

.bold {
    color: hsl(234, 12%, 34%);
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.6rem; 
}

.intro-paragraph {
    color:  hsl(229, 6%, 66%);
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.97rem;
    line-height: 1.5rem;
    width: 98%;
    margin-left: 1.2rem;
}

.second-line-paragraph {
    margin-left: 0.5rem;
}

.third-line-paragraph {
    margin-left: 0.3rem;
}

.cards {
    width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-left: 1rem;
}

.supervisor-card {
    width: 93%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
    border: 2px  hsl(0, 0%, 98%);
    border-radius: 0.5rem; 
    border-top: 0.25rem solid hsl(180, 62%, 55%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.supervisor-title {
    color:  hsl(234, 12%, 34%);
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.supervisor-function {
    color:  hsl(229, 6%, 66%);
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding-left: 1rem;
}

.icon-supervisor {
    position: relative;
    float: right;
    width: 3.5rem;
    padding-top: 0.8rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
}

.team-builder-card {
    width: 93%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
    border: 2px  hsl(0, 0%, 98%);
    border-radius: 0.5rem;
    border-top: 0.25rem solid hsl(0, 78%, 62%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.team-builder-title {
    color:  hsl(234, 12%, 34%);
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.team-builder-function {
    color:  hsl(229, 6%, 66%);
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding-left: 1rem;
}

.icon-team-builder {
    position: relative;
    float: right;
    width: 3.5rem;
    padding-top: 0.8rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
}

.karma-card {
    width: 93%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
    border: 2px  hsl(0, 0%, 98%);
    border-radius: 0.5rem;
    border-top: 0.25rem solid hsl(34, 97%, 64%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.karma-title {
    color:  hsl(234, 12%, 34%);
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.karma-function {
    color:  hsl(229, 6%, 66%);
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding-left: 1rem;
    padding-right: 3rem;
}

.icon-karma {
    position: relative;
    float: right;
    width: 3.5rem;
    padding-top: 0.8rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
}

.calculator-card {
    width: 93%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
    border: 2px  hsl(0, 0%, 98%);
    border-top: 0.25rem solid hsl(212, 86%, 64%);
    border-radius: 0.5rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.calculator-title {
    color:  hsl(234, 12%, 34%);
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.calculator-function {
    color:  hsl(229, 6%, 66%);
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding-left: 1rem;
    padding-right: 3rem;
}

.icon-calculator {
    position: relative;
    float: right;
    width: 3.5rem;
    padding-top: 0.8rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
}

@media screen and (min-width: 900px) and (max-width: 1440px) {

    body {
        overflow: auto;
    }

    .canvas {
        max-width: 40%;
        height: auto;
        margin-top: 2.5rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: normal;
        max-width: 100%;
        height: auto;
    }

    .intro {
        width: 200%;
        margin-top: -2rem;
        margin-left: 27rem;
        padding-left: 0.3rem;
    }

    .intro-title {
        width: 50%;
        font-size: 2.3rem;
        line-height: 3rem;
        margin-left: 2.5rem;
        margin-right: 1.5rem;
    }

    .bold {
        font-size: 2.3rem;
    }

    .intro-paragraph {
        font-size: 0.98rem;
        width: 50%;
        margin-top: -0.35rem;
        margin-left: 0.02rem;
        padding-left: 0.05rem;
        padding-right: 0.25rem;
        text-align: center;
    }

    .second-line-paragraph {
        margin-left: -0.05rem;
    }

    .third-line-paragraph {
        margin-left: 0.05rem;  
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0.0155rem;
        margin-top: 1rem;
        margin-left: 8.7rem;
        margin-bottom: 2rem;
    }

    .supervisor-card {
        position: relative;
        width: 22rem;
        height: 15.5rem;
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: -4.5rem;
        margin-right: 1.8rem;
    }

    .team-builder-card {
        position: relative;
        width: 22rem;
        height: 15.5rem;
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 1.5rem;
        margin-bottom: -7rem;
    }

    .karma-card {
        position: relative;
        width: 22rem;
        height: 15.5rem;
        grid-column: 2/3;
        grid-row: 3/4;
        margin-top: -9.5rem;
    }

    .calculator-card {
        position: relative;
        width: 22rem;
        height: 15rem;
        grid-column: 3/4;
        grid-row: 2/3;
        margin-top: -4.2rem;
        margin-left: 1.8rem;
    }

    .supervisor-title, .team-builder-title, .karma-title, .calculator-title {
        font-family: "Poppins";
        font-weight: 600;
        font-size: 1.25rem;
        margin-top: 1rem;   
    }

    .supervisor-function, .team-builder-function, .karma-function, .calculator-function {
        width: 90%;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 0.8rem;
        margin-top: 0.4rem; 
    }

    .icon-supervisor, .icon-team-builder, .icon-karma, .icon-calculator {
        width: 4rem;
        margin-top: 0.15rem;
        margin-bottom: 1.5rem;
    }

}